<div class="justify-content-center">
  <%= simple_form_for(memory) do |f| %>
  <% if flash[:memory_errors] %>
    <ul>
    <% flash[:memory_errors].each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  <% end %>
  <%= f.simple_fields_for :cultural_good do |cultural_good_form| %>
    <%= cultural_good_form.input :cultural_type, collection: ["Book", "Cinema", "Comic", "Concert", "Dancing", "Documentary", "Exhibition", "Opera", "Stand-up", "Theatre", "TV Show"], include_blank: false %>
    <%= cultural_good_form.input :title, input_html: { autocomplete: 'off' } %>
    <%= cultural_good_form.input :movie_db_id, as: :hidden %>
    <ul class="suggestions">
    </ul>
    <%= cultural_good_form.simple_fields_for :creator do |creator_form| %>
        <%= creator_form.input :name, label: "Created by" %>
    <% end %>
    <%= cultural_good_form.input :thematic %>
  <% end %>
  <%= f.simple_fields_for :venue do |venue_form| %>
      <%= venue_form.input :name, label: "Venue" %>
  <% end %>
  <%= f.input :date, as: :date, html5: true %>
  <%= f.input :rating, collection: ["1", "2", "3", "4", "5"], include_blank: false %>
  <%= f.input :review, as: :text %>
  <button class="btn btn-primary"><% f.button :submit %>Record a Memory</button>
  <% end %>
</div>
