<ul>
	<% @memories.each do |memory| %>
		<li class=<%= "#{memory.cultural_good.cultural_type.downcase}-card" %>>
			<h2><%= memory.cultural_good.title %></h2> 
			<h3><%= memory.cultural_good.creator.name %></h3> 
			<p>Location : <%= memory.venue.name %></p> 
			<p>Rating : 
				<% memory.rating.times do %>
					<i class="fas fa-star"></i>
				<% end %>
			</p>
			<p>"<%= memory.review %>"</p> 
			<%= link_to "Change your memory", edit_memory_path(memory) %>
			<%= link_to "Delete your memory", memory_path(memory), data: { confirm: 'Are you sure?' }, method: :delete %>
		</li>
	<% end %>
</ul>

<%= render 'form', memory: @memory %>